@font-face {
    font-family: Arctika_script; 
    src: url(fonts/ARCTIKA_SCRIPT.ttf); 
}
@font-face {
    font-family: Acrom_webfontt; 
    src: url(fonts/the.northern.block_acrom-webfont.ttf); 
}

@font_h1:Arctika_script, Arial;
@color_main:rgb(124,101,93);
@color_secondary:rgb(168,144,138);

.line {
	height: 5px;
	border-bottom: solid 1px @color_secondary;
	border-top: solid 2px @color_secondary;
}
.header {
	padding-top: 20px;
	a {
	color: @color_main!important;
}
	&__logo { 
		img {
			width: 70%;
			display: block;
			margin:0 auto;
		}
		p {
			color: rgb(131,1,40);
			font-weight: 500;
			text-align: center;
			font-size: 1.4em;
			line-height: 14px;
			a {
				text-decoration: none;
				color: @color_main;
			}
		}
		&_tel {
			margin-top: 15px;
			font-size: 1.5em !important;
			font-weight: bold !important;
			text-decoration: none;
			@media (max-width: 950px) {
					font-size:1.1em !important;
				}
		}
	}
	&__search {
		&_form {
			margin-top: 20px;
			border-bottom: solid 1px @color_secondary;
			margin-right: 30px;
			@media (max-width: 950px) {

				}
			input[type="search"] {
				font-size: 1.2em;
				border:0px;
				color: @color_secondary;
				width: 89%;
				padding: 15px;
				float: left;
				@media (max-width: 1300px) {
					width:80%;
					margin-left: 20px;
					font-size: 1em;
				}
				@media (max-width: 1050px) {
					width:75%;
				}
				@media (max-width: 950px) {
					width:70%;
				}
				@media (max-width: 720px) {
					width:60%;
				}
				@media (max-width: 550px) {
					width:55%;
				}
			}
			input[type="submit"] {
				width: 50px;
				height: 50px;
				border: none;
				text-align: right;
				background: url(images/search.png) no-repeat 50% 50%;
			}
		}
	}
	&__label {
		padding-top: 20px;
		min-width: 317px;
		&_icon {
			float: left;
			width: 24%;
			vertical-align: middle;
			min-width: 100px;
			img {
				height: 30px;
				float: left;
				margin-right: 8%;
			}
			p {
				line-height: 14px;
				font-size: 0.9em;
				margin:0;
			}
			&:last-child {
				width: 35%;
			}
		}
	}
	&__menu {
		margin-top:50px;
		margin-bottom: 30px;
		div {
			float: left;
			margin-right: 3%;
			a {
				font-size: 0.9em;
				color: @color_main;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
	&__city {
		margin-top:45px;
		margin-bottom: 30px;
		p{
			color: rgb(131,1,40);
			font-size: 1.5em;
			font-weight: bold;
			@media (max-width: 950px) {
				font-size:1.1em;
				}
		}
		i {
			margin-right: 5px;
		}
	}
}

p {
	font-family: Acrom_webfontt; 
}


.content {
	position: relative;
}

h1 {
		font-family:@font_h1;
		color: rgb(242,109,60);
		font-size: 3em;
		text-align: center;
		@media (max-width: 500px) {
			font-size: 2em;
				}
	}

.wish {
	margin-left: 11%;
	@media (max-width: 1100px) {
		margin-left:5% !important;
	}
	.wish1 {
		height: 150px;
		border-bottom:solid 1px rgb(221,213,208);
		padding:15px 0px;
		@media (min-width: 950px) {
			min-width: 943px;
		}
		&:last-child {
			border-bottom:none;
		}
		@media (max-width: 950px) {
			height:280px;
				}
		@media (max-width: 500px) {
			height:405px;
				}
		.wish1__first {
			margin-right: 3%;
			width:30%;
			@media (max-width: 950px) {
					width:40%;
					margin-right: 15%;
				}
			@media (max-width: 500px) {
					width:80%;
					margin:0 10%;
				}
			p {
				margin-left: 135px;
				font-style: italic;
				@media (max-width: 1024px) {
					margin-left:110px;
				}
			}

			img {
				height: 130px;
				float: left;
				margin-right: 15px;
				@media (max-width: 1366px) {
					height: 100px;
				}
			}
			h2 {
				margin-left: 135px;
				font-family: Acrom_webfontt; 
				letter-spacing: 1px;
				margin-top: 25px;
				margin-bottom: 25px;
				color: @color_main;
				font-size: 0.8em;
				font-weight: bold;
				text-transform: uppercase;
				@media (max-width: 1024px) {
					margin-left:110px;
				}
			}
		}
		div {
			float: left;
			display: block;
		}
		span {
			font-size: 2em;
			font-weight: bold;
			color: @color_main;
		}
		p {
			color: @color_secondary;
		}
		
		.availability {
			margin:22px 0px;
			width: 20%;
			p {
				line-height: 14px;
			}
			h6 {
				margin-top: 14px;
				font-weight: 600;
				font-family: Acrom_webfontt; 
				font-size: 1.6em;
				color: @color_secondary;
				@media (max-width: 1024px) {
					font-size:1.2em;
				}
			}
			@media (max-width: 1024px) {
					width: 23%;
				}
			@media (max-width: 950px) {
					width:40%;
				}
			@media (max-width: 500px) {
					width:80%;
					margin:0 10%;
				}
		}
		.price {
			margin:30px 0px;
			width: 19%;
			p {
				line-height: 14px;
			}
			span {
				font-family: Acrom_webfontt; 
				font-weight: bold;
				letter-spacing: 2px;
			}
			@media (max-width: 1024px) {
				width: 23%;
			}
			@media (max-width: 950px) {
					width:40%;
					margin-right: 15%;
				}
			@media (max-width: 500px) {
					width:80%;
					margin:0 10%;
				}
		}
		.icon {
			margin-left: 3%;
			img {
				height: 60px;
				margin:0 20px;
				padding:15px;
				border:solid 1px @color_main;
				@media (max-width: 1024px) {
					height:50px;
					margin:0 5px;
				}
			}
			p {
				text-align: center;
				font-style: italic;
				@media (max-width: 1024px) {
					width:125px;
				}
			}
			@media (max-width: 950px) {
					width:40%;
				}
			@media (max-width: 500px) {
					width:80%;
					margin:0 10%;
				}
		}
		input {
			margin-right: 10px;
			float: left;
			height: 30px;
			width: 30px;
		}

	}
}

.sentence {
	margin-left: 8%;
	margin-right: 4%;
	border-top:solid 2px rgb(221,213,208);
	margin-bottom: 50px;
	@media (max-width: 500px) {
			margin-left: 5%;
		}
	&__sentence1 {
		float: left;
		width: 16%;
		&_sum {
			text-align: center;
			display: block;
			margin:0 auto;
			padding-right: 5%;
		}
		img{
			height: 153px;
			margin:5px auto;
			margin-left: 0px;
		@media (min-width: 1500px) {
			height:180px;
		}
		@media (max-width: 500px) {
			height:110px;
			margin-left: 15%;
		}
		}
		&_bag {
			padding:3px;
			height: 20px !important;
			float: left;
			border: solid 1px rgba(149,125,118,.6);
			margin-right: 5px !important;
			@media (max-width: 1200px) {
					display:none;
				}
		}
		@media (max-width: 950px) {
					width: 33%;
					margin-bottom: 50px;
				}
		@media (max-width: 500px) {
			width: 49%;
			margin-bottom: 50px;
		}
		p {
			height: 30px;
			text-align: center;
			line-height: 14px;
			font-size: 0.8em;
			text-transform: uppercase;
			font-weight: bold;
			color: @color_main;
		}
		&_line {
			height: 100%;
			width: 43%;
			margin:0 auto;
			border-top:solid 2px @color_main;
			p {
				font-size: 1.5em;
				color: rgb(132,2,39);
				margin:15px auto;
				margin-bottom: 0px !important;
				@media (max-width: 1200px) {
					font-size:1em;
				}
			}
		}
		&_buy {
			display: block;
			height: 55px !important;
			margin:0 auto !important;
			border:solid 1px @color_main;
			padding:10px;
		}
	}
}

.footer {
	padding-top: 50px;
	padding-bottom: 100px;
	height: 100%;
	background-color: rgb(171,157,152);
	color: white;
	a {
		color: rgb(255,255,255)!important;
	}
	h5 {
			font-size: 1.3em;
			font-weight: bold;
		}
	&__contacts {
		padding-left: 100px;
		line-height: 14px;
		
		p {
			margin:0px;
		}
		&_sety {
			margin-top: 30px;
			img {
				height: 40px;
				width: 40px;
			}
		}
	}
	&__links {
		padding-right: 150px;
		&_shop {
			float: right;
			margin-right: 5%;
			ul {
				padding-left: 0px;
				li {
					list-style: none;
					line-height: 16px;
					font-size: 0.9em;
				}
			}
		}
	}
	&__pay {
		text-align: right;
		padding-right: 100px;
		p {
			font-size: 1.3em;
			display: inline-block;
			a {
				color: white !important;
			}
		}
		img {
			height: 35px;
		}
	}
}



.sentence__sentence1_bag:hover {
	cursor: pointer;
	background-color: rgba(139,1,40,.3);
}

.sentence__sentence1_bag:active {
	background-color: rgba(139,1,40,.7);
}

.sentence__sentence1_buy:hover {
	cursor: pointer;
	background-color: rgba(139,1,40,.3);
}

.sentence__sentence1_buy:active {
	background-color: rgba(139,1,40,.7);
}

.wish1__first_icon_buy:hover {
	cursor: pointer;
	background-color: rgba(139,1,40,.3);
}

.wish1__first_icon_buy:active {
	background-color: rgba(139,1,40,.7);
}

.wish1__first_icon_delete:hover {
	cursor: pointer;
	background-color: rgba(139,1,40,.3);
}

.wish1__first_icon_delete:active {
	background-color: rgba(139,1,40,.7);
}

a:hover {
	color: rgb(242,109,60) !important;
}

.footer__contacts_sety img:hover {
	border-radius: 50%;
	background-color: rgb(242,109,60);
	height: 41px;
	width: 41px;
}
.footer__contacts_sety img:active {
	height: 39px;
	width: 39px;
}